.login {
  height: 100vh;
  background-color: rgba(200, 200, 250, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    background-color: white;
    width: 50%;
    min-height: 600px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    .left {
      flex: 1;
      background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
        url('https://images.pexels.com/photos/5081919/pexels-photo-5081919.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      h1 {
        color: white;
        font-size: 100px;
        line-height: 100px;
      }
      p {
        color: white;
      }
      span {
        color: white;
        font-size: 14px;
      }
      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: rebeccapurple;
        font-weight: 600;
        cursor: pointer;
        transition-duration: 200ms;
      }
      button:hover {
        background-color: lightgray;
      }
    }
    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;
      h1 {
        color: #555;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        input {
          color: gray;
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }
        button {
          background-color: #938eef;
          width: 50%;
          padding: 10px;
          border: none;
          color: white;
          font-weight: bold;
          cursor: pointer;
          transition-duration: 200ms;
        }
        button:hover {
          background-color: #936eef;
        }
      }
    }
  }
}
