//add purple ripple on click in background
.login {
  background-image: radial-gradient(
    rgb(195, 195, 255) 20%,
    rgba(200, 200, 250, 1) 20%
  );
  background-position: 0 0;
  background-size: 25px 25px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    background-color: white;
    width: 50%;
    min-height: 600px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    position: relative;
    .picture-card {
      transition: 0.4s ease-in-out;
      -webkit-transition: 0.4s ease-in-out;
      position: absolute;
      width: 40%;
      height: 100%;
      background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
        url('https://images.pexels.com/photos/5081919/pexels-photo-5081919.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')
          center;
      background-size: cover;
      padding: 50px;
      .info-container {
        position: relative;
        h1 {
          color: white;
          font-size: 100px;
          line-height: 100px;
        }
        .register-info {
          position: absolute;
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 30px;
          p {
            color: white;
          }
          span {
            color: white;
            font-size: 14px;
          }
          button {
            width: 50%;
            padding: 10px;
            border: none;
            background-color: white;
            color: rebeccapurple;
            font-weight: 600;
            cursor: pointer;
            transition-duration: 200ms;
          }
          button:hover {
            background-color: lightgray;
          }
        }
        .login-info {
          position: absolute;
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 30px;
          p {
            color: white;
          }
          span {
            color: white;
            font-size: 14px;
          }
          button {
            width: 50%;
            padding: 10px;
            border: none;
            background-color: white;
            color: rebeccapurple;
            font-weight: 600;
            cursor: pointer;
            transition-duration: 200ms;
          }
          button:hover {
            background-color: lightgray;
          }
        }
      }
    }
    .left-register {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;
      h1 {
        color: #555;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        input {
          color: gray;
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }
        button {
          background-color: #938eef;
          width: 50%;
          padding: 10px;
          border: none;
          color: white;
          font-weight: bold;
          cursor: pointer;
          transition-duration: 200ms;
        }
        button:hover {
          background-color: #936eef;
        }
      }
    }
    .right-login {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;
      h1 {
        color: #555;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        input {
          color: gray;
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }
        button {
          background-color: #938eef;
          width: 50%;
          padding: 10px;
          border: none;
          color: white;
          font-weight: bold;
          cursor: pointer;
          transition-duration: 200ms;
        }
        button:hover {
          background-color: #936eef;
        }
      }
    }
  }
}

.move-right {
  transform: translateX(200%);
  -webkit-transform: translateX(100%);
}

.visible {
  visibility: visible;
  opacity: 1;
  display: flex;
  transition: opacity 0.15 linear;
  transition-delay: 0.1s;
}

.hidden {
  visibility: hidden;
  display: none;
  opacity: 0;
  transition: visibility 0s 0.15s, opacity 0.2s linear;
  transition-delay: 0.1s;
}
